# Ignore all files by default
*

# Allow the contracts directory and its contents
!contracts/
!contracts/**

# Allow CHANGELOG.md and the simplified README.md
!CHANGELOG.md
!README.md
!TOKEN_DETAILS.html

# Allow this .gitignore file itself
!.gitignore
