# Ignore all files by default
*

# Allow the contracts directory and its contents
!contracts/
!contracts/**

# Allow the CHANGELOG.md file
!CHANGELOG.md

# Allow this .gitignore file itself
!.gitignore
